ZooKeeper.WebUI/Service References/ZookeeperWebSvc/ZooKeeperService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ZooKeeperService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:10125/ZooKeeperService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:10125/ZooKeeperService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:10125/ZooKeeperService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ZooKeeper.WebSvc.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IZooKeeperService_GetZookepers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetZookepers" />
  </wsdl:message>
  <wsdl:message name="IZooKeeperService_GetZookepers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetZookepersResponse" />
  </wsdl:message>
  <wsdl:message name="IZooKeeperService_SaveZookeper_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveZookeper" />
  </wsdl:message>
  <wsdl:message name="IZooKeeperService_SaveZookeper_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveZookeperResponse" />
  </wsdl:message>
  <wsdl:message name="IZooKeeperService_DeleteZookeper_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteZookeper" />
  </wsdl:message>
  <wsdl:message name="IZooKeeperService_DeleteZookeper_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteZookeperResponse" />
  </wsdl:message>
  <wsdl:message name="IZooKeeperService_GetAnimals_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAnimals" />
  </wsdl:message>
  <wsdl:message name="IZooKeeperService_GetAnimals_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAnimalsResponse" />
  </wsdl:message>
  <wsdl:message name="IZooKeeperService_SaveAnimal_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveAnimal" />
  </wsdl:message>
  <wsdl:message name="IZooKeeperService_SaveAnimal_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveAnimalResponse" />
  </wsdl:message>
  <wsdl:message name="IZooKeeperService_DeleteAnimal_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAnimal" />
  </wsdl:message>
  <wsdl:message name="IZooKeeperService_DeleteAnimal_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAnimalResponse" />
  </wsdl:message>
  <wsdl:portType name="IZooKeeperService">
    <wsdl:operation name="GetZookepers">
      <wsdl:input wsaw:Action="http://tempuri.org/IZooKeeperService/GetZookepers" message="tns:IZooKeeperService_GetZookepers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IZooKeeperService/GetZookepersResponse" message="tns:IZooKeeperService_GetZookepers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveZookeper">
      <wsdl:input wsaw:Action="http://tempuri.org/IZooKeeperService/SaveZookeper" message="tns:IZooKeeperService_SaveZookeper_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IZooKeeperService/SaveZookeperResponse" message="tns:IZooKeeperService_SaveZookeper_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteZookeper">
      <wsdl:input wsaw:Action="http://tempuri.org/IZooKeeperService/DeleteZookeper" message="tns:IZooKeeperService_DeleteZookeper_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IZooKeeperService/DeleteZookeperResponse" message="tns:IZooKeeperService_DeleteZookeper_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAnimals">
      <wsdl:input wsaw:Action="http://tempuri.org/IZooKeeperService/GetAnimals" message="tns:IZooKeeperService_GetAnimals_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IZooKeeperService/GetAnimalsResponse" message="tns:IZooKeeperService_GetAnimals_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveAnimal">
      <wsdl:input wsaw:Action="http://tempuri.org/IZooKeeperService/SaveAnimal" message="tns:IZooKeeperService_SaveAnimal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IZooKeeperService/SaveAnimalResponse" message="tns:IZooKeeperService_SaveAnimal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAnimal">
      <wsdl:input wsaw:Action="http://tempuri.org/IZooKeeperService/DeleteAnimal" message="tns:IZooKeeperService_DeleteAnimal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IZooKeeperService/DeleteAnimalResponse" message="tns:IZooKeeperService_DeleteAnimal_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IZooKeeperService" type="tns:IZooKeeperService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetZookepers">
      <soap:operation soapAction="http://tempuri.org/IZooKeeperService/GetZookepers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveZookeper">
      <soap:operation soapAction="http://tempuri.org/IZooKeeperService/SaveZookeper" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteZookeper">
      <soap:operation soapAction="http://tempuri.org/IZooKeeperService/DeleteZookeper" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAnimals">
      <soap:operation soapAction="http://tempuri.org/IZooKeeperService/GetAnimals" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveAnimal">
      <soap:operation soapAction="http://tempuri.org/IZooKeeperService/SaveAnimal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAnimal">
      <soap:operation soapAction="http://tempuri.org/IZooKeeperService/DeleteAnimal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZooKeeperService">
    <wsdl:port name="BasicHttpBinding_IZooKeeperService" binding="tns:BasicHttpBinding_IZooKeeperService">
      <soap:address location="http://localhost:10125/ZooKeeperService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>