ZooKeeper.WebUI/Service References/ZookeeperWebSvc/ZooKeeperService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ZooKeeper.WebSvc.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ZooKeeper.WebSvc.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfZookeeperDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ZookeeperDTO" nillable="true" type="tns:ZookeeperDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfZookeeperDTO" nillable="true" type="tns:ArrayOfZookeeperDTO" />
  <xs:complexType name="ZookeeperDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateOfBirth" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StaffID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ZookeeperDTO" nillable="true" type="tns:ZookeeperDTO" />
  <xs:complexType name="ArrayOfAnimalDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AnimalDTO" nillable="true" type="tns:AnimalDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAnimalDTO" nillable="true" type="tns:ArrayOfAnimalDTO" />
  <xs:complexType name="AnimalDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Age" type="xs:int" />
      <xs:element minOccurs="0" name="AnimalID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AnimalType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" type="tns:Gender" />
      <xs:element minOccurs="0" name="NickName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZookeeperId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AnimalDTO" nillable="true" type="tns:AnimalDTO" />
  <xs:simpleType name="Gender">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:element name="Gender" nillable="true" type="tns:Gender" />
</xs:schema>